html{
  font-family: helvetica;
  color:grey;
}

.logo{
  width: 40%;
  display:block;
  margin:auto;
}


.botonera{
  width: 33%;
  margin: 0 auto;
}

.container{
  margin:0%,10%,0%,10%;
}

p{
  text-align: justify;
}

.redes{
  width: 100%;
  align-items: center;
}

/* ABOUT US */

.parrafoAbout{
  margin: 2% 5% 0 5%;
}
.row h1{
  margin: 0 0 0 5%;
}

.list-group{
  margin: 0 0 0 5%;
}

/* MAN Y WOMAN*/

.card{
  border:none;
}

.comprar{
  margin: 2% 0 2% 0;
}
table{
  text-align: center;
}
