
 <ul class="list-group">
  {{#each comentarios}}

      <li class="list-group-item">{{texto}} Puntaje: {{puntaje}}

        <button type="button" class="js-borrar" data="{{id_comentario}}" >BORRAR</button>
        

      </li>
  {{/each}}
</ul>
