
 <ul class="list-group">
  {{#each comentarios}}

      <li class="list-group-item">{{texto}} Puntaje: {{puntaje}}
        {{#if EsAdmin}}
        <a href="borrar/{{id}}">BORRAR</a></li>
        {{/if}}


  {{/each}}
</ul>
